body{
  background-image: url(https://media.giphy.com/media/10ey97fWJYtGla/giphy.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1{
  text-align: center;
  color: 	#F08080;
  margin-top: 250px;
  font-size: 42px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #F08080;
  border-width: 5px;
  margin-left: 550px;
  margin-right: 550px;
  background-color: #ADD8E6;
  font-family: fantasy
}

h2{
  text-align: center;
  color: #F08080;
  margin-top: -30px;
  padding: 10px;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #F08080;
  border-width: 5px;
  background-color: #ADD8E6;
  margin-left: 550px;
  margin-right: 550px;
  font-size: 20px;
  font-family: cursive;
}

p{
  text-align: center;
  color: red;
  background-color: #FFB6C1;
  margin-top: 50px;
  border: 5px solid #FFB6C1;
  margin-left: 650px;
  margin-right: 650px;
  font-size: 20px;
  font-family: fantasy;
}

a:active{
  color: blue;
}

a:visited{
  color: red;
}
